html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
}
/** {
    outline: 1px solid red;
}*/
::selection {
	color: #00796B;
	background: #1de986;
}
/*
orange 300 #FFD54F
orange 500 #FFC107
orange 800 #FF8F00
orange 900 #FF6F00
orange A100 #FFE57F
text rgba(0,0,0,.87)
text2 rgba(0,0,0,.54)
disabled rgba(0,0,0,.38)
dividers rgba(0,0,0,.12)
offwhite #f2f2f2
*/
/*::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.7);
    background: #243135;
}
::-webkit-scrollbar-thumb {
    background-color: #1DE96B;
}*/
input:active,
input:focus,
select:focus,
select:active {
	outline: 0 none;
}
input {
    border: none;
    margin: 0;
    padding: 0;
}
.nosel {
	-webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.btn {
    border: none;
    outline: 0 none;
    color: white;
    cursor: pointer;
    transition: all .15s ease;
}
.btn-default {
    background: #45545c;
}
.btn-positive {
    background: #1de96b;
}
.btn-negative {
    background: #d4455e;
}
.btn-default:hover {
    background: #61747e;
}
.btn-positive:hover {
    background: #91fab9;
}
.btn-negative:hover {
    background: #90283a;
}
.float, 
.float-1 {
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.float-2 {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.float-3 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
a {
    text-decoration: none;
    color: #FF6F00;
    transition: all .15s ease;
}
/*a:hover,
a:focus {
    color: #517ee8;
}*/
header#header-main {
    background: #FF6F00;
    height: 108px;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
    position: fixed;
}
#header-main .title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 32pt;
    color: white;
    padding: 0 64px;
}
#header-main #redfox {
    color: #FFD54F;
}
.burger {
    /*display: block;*/
    display: none;
    position: absolute;
    top: 12px;
    left: 12px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.burger:hover {
    background: rgba(255,255,255,.15);
}
.burger i {
    color: white;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
}
.fab {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #FF6F00;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.fab:hover {
    background: #FF8F00;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
.nav-horiz {
    position: absolute;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin: 0;
}
#nav-top {
    top: 0;
    right: 20px;
}
#nav-main {
    top: 60px;
    left: 40px;
    height: 46px;
    line-height: 46px;
    right: 40px;
    display: flex;
}
.nav-horiz ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}
.nav-horiz li {
    display: inline-block;
    /*padding: 0 24px;*/
    color: white;
    font-size: 13pt;
    cursor: pointer;
    transition: all .15s ease;
    text-align: center;
}
.nav-horiz li:hover {
    color: #FFD54F !important;
}
/*.nav-horiz#nav-main li:first-of-type {
    padding-left: 0;
}
.nav-horiz#nav-main li:last-of-type {
    padding-right: 0;
}*/
.nav-horiz li a {
    display: inline-block;
    padding: 0 24px;
    color: white;
    height: 60px;
    line-height: 60px;
}
.nav-horiz li a:hover {
    color: #FFD54F;
}
#nav-main ul {
    float: left;
    margin-right: 40px;
}
#nav-main li,
#nav-main li a {
    color: rgba(255,255,255,.7);
}
#nav-main li.active {
    border-bottom: 2px solid #FFD54F;
    color: white;
}
#nav-main li.active a {
    color: white;
}
#nav-main li a {
    height: 46px;
    line-height: 46px;
}
#nav-main .ticket-search {
    float: right;
    position: relative;
    height: 48px;
    line-height: 48px;
    min-width: 150px;
    display: flex;
    flex: 1;
}
#nav-main .input-search {
    position: relative;
    margin: 6px 0;
    height: 36px;
    line-height: 36px;
    width: 100%;
    background: rgba(255,255,255,.15);
    text-indent: 60px;
    font-size: 100%;
    transition: all .15s ease-in-out;
}
#nav-main .input-search:focus {
    background: white;
    color: rgba(0,0,0,.87);
}
#nav-main .input-text-icon {
    position: absolute;
    left: 20px;
    top: 6px;
    height: 36px;
    line-height: 36px;
}
#nav-main .input-text-placeholder {
    height: 36px;
    line-height: 36px;
    color: rgba(255,255,255,.7);
    position: absolute;
    top: 6px;
    left: 60px;
    cursor: text;
    transition: all .15s ease-in-out;
}
#nav-main .input-search:focus + .input-text-icon i,
#nav-main .input-search:focus ~ .input-text-placeholder {
    color: rgba(0,0,0,.87);
}
#nav-main .input-text-icon i {
    height: 36px;
    line-height: 36px;
    color: rgba(255,255,255,.7);
    transition: all .15s ease-in-out;
    pointer-events: none;
}
#nav-sub {
    top: 108px;
    left: 0;
    height: 48px;
    line-height: 48px;
    width: 100%;
    background: #FF6F00;
    z-index: 9;
    padding: 0 40px;
}
#nav-sub ul {
    float: left;
    height: 46px;
}
#nav-sub li {
    height: 46px;
}
#nav-sub li.active {
    border-bottom: 2px solid #FFE57F;
}
main {
    position: absolute;
    min-height: calc(100% - 108px - 40px);
    /*min-height: calc(100% - 40px);*/
    width: calc(100% - 40px);
    padding: 20px;
    padding-top: 128px;
    background: #f2f2f2;
}
.nav-small {
    padding: 10px 20px;
    min-height: 20px;
    /*background: #FF6F00;*/
}
.text-hint {
    color: rgba(0,0,0,.54);
}
.ticket-navs {
    position: relative;
    background: white;
}
.ticket-navs::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.ticket-container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    /*background: white;*/
}
.ticket-container .ticket-search {
    float: right;
    width: 25%;
    margin-top: -10px;
    height: 40px;
}
.ticket-container .input-search {
    width: calc(100% - 45px);
    margin-top: 5px;
    height: 28px;
    display: inline-block;
    float: left;
    font-size: 12.5pt;
    text-indent: 10px;
    border: 1px solid #FFE57F;
    transition: all .15s ease;
}
.ticket-container .input-search:focus {
    background: rgba(0,0,0,.03);
}
.ticket-container .btn-search {
    width: 40px;
    height: 30px;
    padding-top: 4px;
    margin-top: 5px;
    display: inline-block;
    float: left;
    background: #FFE57F;
    color: rgba(0,0,0,.87);
}
.tickets-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.tickets-header span {
    display: inline-block;
}
.tickets-header .id {
    width: 98px;
    margin-right: 20px;
}
.tickets-header .status {
    float: right;
    width: 78px;
    margin-right: 20px;
}
.tickets-header .priority {
    float: right;
    width: 78px;
    margin-left: 20px;
    margin-right: 266px;
}
.ticket {
    position: relative;
    background: white;
    width: calc(100% - 40px);
    /*border-top: 1px solid rgba(0,0,0,.12);*/
    height: 64px;
    line-height: 64px;
    vertical-align: middle;
    padding: 0 20px;
    cursor: pointer;
    /*background: lightblue;*/
    transition: all .15s ease-in-out;
    white-space: nowrap;
}
.ticket:not(.open) .d-open {
    display: none;
}
.ticket.open .d-closed {
    display: none;
}
/*.ticket:not(.open):hover {
    background: rgba(255, 111, 0, .2);
}*/
.ticket::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.ticket.open {
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
.ticket .id {
    float: left;
    color: rgba(0,0,0,.54);
    display: inline;
    margin-right: 20px;
    width: 98px;
    height: 64px;
    line-height: 64px;
}
.ticket .status {
    float: right;
    /*float: left;*/
    text-transform: uppercase;
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    min-width: 78px;
    text-align: center;
    border-radius: 6px;
    /*margin: 17px 20px;*/
    margin: 17px 20px 17px 0;
    color: rgba(0,0,0,.87);
    cursor: pointer;
}
.ticket .status-new {
    background: #42A5F5;
    color: white;
}
.ticket .status-open {
    background: #8BC34A;
    color: white;
}
.ticket .status-solved {
    background: #BDBDBD;
    color: white;
}
.ticket .status-hold {
    background: #7986CB;
    color: white;
}
.ticket .priority {
    float: right;
    /*float: left;*/
    text-transform: uppercase;
    padding: 4px 10px;
    height: 20px;
    min-width: 78px;
    text-align: center;
    line-height: 20px;
    border-radius: 6px;
    /*margin: 17px 20px;*/
    margin: 17px 20px 17px 0;
    color: rgba(0,0,0,.87);
    cursor: pointer;
}
.ticket .priority-low {
    background: #8BC34A;
    color: white;
}
.ticket .priority-normal {
    background: #FFE258;
    color: white;
}
.ticket .priority-high {
    background: #FFA726;
    color: white;
}
.ticket .priority-urgent {
    background: #F44336;
    color: white;
}
.ticket .vertbox {
    height: 64px;
    display: inline-block;
    margin: 0;
    padding: 0;
    /*background: gray;*/
}
.ticket .name {
    display: block;
    margin-top: 12px;
    height: 20px;
    line-height: 20px;
    /*width: 100%;*/
    color: rgba(0,0,0,.87);
    font-weight: bold;
    text-overflow: ellpsis;
    white-space: nowrap;
    overflow: hidden;
}
.ticket .name::first-letter {
    text-transform: uppercase;
}
.ticket .desc {
    display: block;
    height: 20px;
    line-height: 20px;
    width: 100%;
    color: rgba(0,0,0,.54);
    text-transform: capitalize;
}
.ticket .desc a {
    color: rgba(0,0,0,.87);
}
.ticket .desc:hover a {
    color: #FF6F00;
}
.ticket #datetime {
    float: right;
    font-size: 90%;
    min-width: 188px;
    margin-right: 16px;
}
.ticket .date-created {
    display: block;
    margin-top: 12px;
    height: 20px;
    line-height: 20px;
    width: 100%;
    color: rgba(0,0,0,.54);
    text-transform: capitalize;
}
.ticket .date-checked {
    display: block;
    height: 20px;
    line-height: 20px;
    width: 100%;
    color: rgba(0,0,0,.54);
    text-transform: capitalize;
}
.ticket .datetime {
    float: right;
}
.ticket .openinnew {
    float: right;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 12px -10px;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    transition: all .15s ease-in-out;
    /*color: rgba(0,0,0,.54);*/
}
.ticket .openinnew:hover {
    background: rgba(0,0,0,.12);
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.ticket.open {
    margin: 40px 20px;
    width: calc(100% - 40px);
    height: auto;
    line-height: normal;
    padding: 0;
}
.ticket.open .id {
    margin-left: 20px;
}
.ticket.open .name {
    height: 64px;
    line-height: 64px;
    display: inline-block;
    margin-top: 0;
}
.ticket.open .name::first-letter {
    text-transform: uppercase;
}
.ticket.open header {
    position: relative;
    height: 64px;
    line-height: 64px;
}
.ticket.open article {
    position: relative;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 0 20px;
    cursor: initial;
}
.ticket.open footer {
    position: relative;
    padding: 0 20px;
    background: #f6f6f6;
    /*padding: 20px;*/
    height: 64px;
    line-height: 64px;
    cursor: text;
    transition: all .15s ease-in-out;
}
.ticket.open footer:hover {
    background: white;
}
.ticket.open .openinnew {
    float: right;
    /*margin-right: 20px;*/
    margin-right: 10px;
}
.ticket.open .delete {
    float: right;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 12px 10px;
    margin-left: -10px;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    color: rgba(0,0,0,.54);
    transition: all .15s ease-in-out;
    cursor: pointer;
}
.ticket.open .delete:hover {
    background: rgba(0,0,0,.12);
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.ticket.open .status {
    float: right;
    margin: 17px 20px 17px 0;
}
.ticket.open .priority {
    float: right;
    margin: 17px 20px 17px 0;
}
.ticket.open .user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 16px;
    /*vertical-align: middle;*/
    transition: all .15s ease-in-out;
}
.ticket.open .user-img:hover {
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.ticket.open .poster-name {
    position: absolute;
    top: 20px;
    left: 80px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 90%;
}
.ticket.open .poster-name a {
    color: rgba(0,0,0,.87);
}
.ticket.open .poster-name:hover a {
    color: #FF6F00;
}
.ticket.open .datetime {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(0,0,0,.54);
    font-size: 90%;
}
.ticket.open .content {
    padding: 0;
    margin: 0 0 20px 60px;
}
.ticket.open .tags {
    height: 30px;
    line-height: 30px;
    margin: 0 0 20px 60px;
    padding: 0;
    color: rgba(0,0,0,.38);
    background: white;
}
.ticket.open .tagit-choice {
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    background: #FF6F00;
    padding: 2px 6px;
    font-size: 90%;
    color: white;
    margin-right: 6px;
    cursor: pointer;
}
.ticket.open .tagit-choice-read-only ~ .tagit-new {
    display: none;
}
.ticket.open .leavecomment {
    position: relative;
    color: rgba(0,0,0,.54);
    font-size: 90%;
}
.ticket.open .viewcomments {
    float: right;
    position: relative;
    background: #FF6F00;
    text-transform: uppercase;
    padding: 4px 10px;
    height: 20px;
    min-width: 78px;
    text-align: center;
    line-height: 20px;
    /*border-radius: 6px;*/
    margin: 17px 0;
    color: white;
    font-size: 90%;
    /*cursor: pointer;*/
}
.ticket.open .viewcomments:hover {
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.ticket-new {
    padding: 0 20px;
    padding-bottom: 20px;
    position: relative;
    background: white;
}
.ticket-new label {
    width: 100%;
    display: block;
    height: 40px;
    line-height: 40px;
}
.ticket-new .input {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    width: calc(100% - 40px);
    border-bottom: 2px solid #f2f2f2;
    font-size: 11.5pt;
    z-index: 1;
    background: rgba(0,0,0,.12);
}
.ticket-new input {
    /*border-bottom: 2px solid rgba(0,0,0,.38);*/
}
.ticket-new textarea {
    background: rgba(0,0,0,.12);
    /*border-bottom: 2px solid rgba(0,0,0,.38);*/
}
.ticket-new .desc {
    min-height: 200px;
    width: calc(100% - 40px);
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #f2f2f2;
    outline: none;
    font-size: 11.5pt;
    font-family: sans-serif;
}
hr.input-underline {
    width: 0;
    left: calc(50% + 20px);
    margin-top: -2px;
    position: absolute;
    border: none;
    height: 2px;
    /*background: #FF6F00;*/
    transition: all .3s ease-in-out;
    z-index: 2;
}
.ticket-new textarea + hr.input-underline {
    margin-top: -6px;
}
.ticket-new input:focus + hr.input-underline,
.ticket-new textarea:focus + hr.input-underline {
    left: 20px;
    width: calc(100% - 40px);
}
.ticket-new .btn-submit {
    padding: 6px 20px;
    margin: 20px 0 0 0;
    background: #FF6F00;
    color: white;
    text-transform: uppercase;
    /*float: right;*/
}
.ticket-new.sending {
    padding: 0 20px;
    height: 64px;
    line-height: 64px;
    display: none;
}
.ticket-new.sending.active {
    display: block;
}
.ticket-new.sending .message {
    display: inline-block;
    height: 64px;
    line-height: 64px;
    margin: 0;
    margin-right: 20px;
}
.ticket-new.sending .result {
    display: inline-block;
    position: absolute;
    left: 300px;
    height: 64px;
    line-height: 64px;
    color: rgba(0,0,0,.54);
}
.ticket-thread {
    width: 100%;
    height: auto;
    line-height: normal;
    padding: 0;
}
.ticket-thread .id {
    margin-left: 20px;
}
.ticket-thread .name {
    height: 64px;
    line-height: 64px;
    display: inline;
    display: inline-block;
    margin-top: 0;
}
.ticket-thread .name::first-letter {
    text-transform: uppercase;
}
.ticket-thread header {
    position: relative;
    height: 64px;
    line-height: 64px;
    cursor: initial;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.ticket-thread article {
    position: relative;
/*    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);*/
    border-bottom: 1px solid transparent;
    padding: 0 20px;
    cursor: initial;
}
.ticket-thread footer {
    position: relative;
    padding: 0 20px;
    background: #f6f6f6;
    /*padding: 20px;*/
    min-height: 64px;
    line-height: 64px;
    cursor: text;
    /*transition: all .2s ease-in-out;*/
}
.ticket-thread footer:hover {
    background: white;
}
.ticket-thread footer.active {
    padding: 10px 20px 0 20px;
    background: white;
}
.ticket-thread footer .commentbox {
    display: none;
}
.ticket-thread footer.active .commentbox {
    display: inline-block;
    width: 100%;
    line-height: initial;
}
.ticket-thread footer.active .leavecomment {
    display: none;
}
.ticket-thread footer.active header {
    height: 30px;
    line-height: 30px;
    width: calc(100% - 80px);
    margin: 0;
    padding: 0 10px 0 60px;
    border: none;
    font-size: 90%;
}
.ticket-thread footer.active .desc {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    /*font-size: 90%;*/
    max-width: 300px;
    color: rgba(0,0,0,.54);
    margin-left: 20px;
    text-transform: lowercase;
}
.ticket-thread footer.active .textarea {
    display: block;
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
    width: calc(100% - 120px);
    min-height: 40px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 10pt;
    outline: none;
    border: none;
    line-height: 12pt;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    cursor: text;
}
.ticket-thread footer.active .btn {
    display: inline-block;
    margin-left: 60px;
    text-transform: uppercase;
    padding: 0 10px;
    height: 32px;
    min-width: 78px;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    font-size: 90%;
    color: rgba(33,33,33,.3);
    background: #f6f6f6;
    cursor: initial;
}
.ticket-thread footer.active .btn-send.active {
    color: white;
    background: #FF6F00;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    cursor: pointer;
}
.ticket-thread footer.active .btn-send.active:hover,
.ticket-thread footer.active .btn-cancel:hover {
    background: #FF8F00;
}
.ticket-thread footer.active .btn-cancel {
    margin-top: 10px;
    float: right;
    background: #FF6F00;
    color: white;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    cursor: pointer;
}
.ticket-thread #sendstatus {
    max-width: 60px;
}
.ticket-thread .delete {
    float: right;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 12px 10px;
    margin-left: -10px;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    color: rgba(0,0,0,.54);
    transition: all .15s ease-in-out;
    cursor: pointer;
}
.ticket-thread .delete:hover {
    background: rgba(0,0,0,.12);
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.ticket-thread .status {
    float: right;
    margin: 17px 20px 17px 0;
}
.ticket-thread .priority {
    float: right;
    margin: 17px 20px 17px 0;
}
.ticket-thread .user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 16px;
    /*vertical-align: middle;*/
}
.ticket-thread .poster-name {
    position: absolute;
    top: 20px;
    left: 80px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 90%;
}
.ticket-thread .poster-name a {
    color: rgba(0,0,0,.87);
}
.ticket-thread .poster-name:hover a {
    color: #FF6F00;
}
.ticket-thread .datetime {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(0,0,0,.54);
    font-size: 90%;
}
.ticket-thread .content {
    padding: 0;
    margin: 0 0 20px 60px;
}
.ticket-thread .tags {
    height: 30px;
    line-height: 30px;
    margin: 0 0 20px 60px;
    padding: 0;
    color: rgba(0,0,0,.38);
    background: white;
}
/*.ticket-thread .tag {
    height: 20px;
    border-radius: 4px;
    background: #FF6F00;
    padding: 2px 6px;
    font-size: 90%;
    color: white;
    margin-right: 4px;
}*/
.ticket-thread ul.tagit li.tagit-choice {
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    background: #FF6F00;
    padding: 2px 6px;
    font-size: 90%;
    color: white;
    margin-right: 6px;
    cursor: pointer;
}
.ticket-thread .tagit-choice-read-only ~ .tagit-new {
    display: none;
}
.ticket-thread .leavecomment {
    position: relative;
    color: rgba(0,0,0,.54);
    font-size: 90%;
}
.overview-item {
    position: relative;
    /*width: calc(50% - 40px);*/
    width: calc(100% - 40px);
    float: left;
    /*margin-right: 20px;*/
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    padding-bottom: 0;
}
.overview-item header {
    font-weight: bold;
}
.overview-item.ticket-preview {
}
.overview-item.ticket-preview table {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    color: rgba(0,0,0,.87);
}
.overview-item.ticket-preview td {
    height: 40px;
    line-height: 40px;
    width: 20%;
}
.overview-item.ticket-preview a {
    /*padding: 10px 20px;*/
    display: block;
    height: 100%;
    line-height: 100%;
    width: 100%;
    color: rgba(0,0,0,.87);
}
.overview-item .content {
    width: 100%;
    height: 64px;
    line-height: 64px;
    color: rgba(0,0,0,.38);
    text-align: center;
    margin-top: 10px;
}
.overview-item .desc {
    display: inline-block;;
    color: rgba(0,0,0,.54);
    font-weight: normal;
    margin-left: 20px;
}
.overview-item .fab {
    position: absolute;
    right: 10px;
    top: 10px;
}
.api-keys {
    display: inline-block;
    background: transparent;
    box-shadow: none;
}
.api-keys header {
    background: white;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    height: 64px;
    line-height: 64px;
    margin: 0 -20px;
    padding: 0 20px;
}
.api-keys .content {
    margin-top: 0;
    height: 51px;
}
.api-keys .fab {
    top: 30px;
    right: 10px;
}
.api-keys .keys-list {
    list-style: none;
    padding: 0;
    margin: 0 -20px;
    /*margin-top: 10px;*/
    color: rgba(0,0,0,.87);
    text-align: left;
}
.api-keys .key {
    padding: 0 20px;
    border-top: 1px solid rgba(0,0,0,.12);
    min-height: 50px;
    line-height: 50px;
    position: relative;
    cursor: pointer;
    background: white;
    transition: all .2s ease-in-out;
}
.key::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.api-keys .key:not(.open) .d-open {
    display: none;
}
.api-keys .key.open {
    margin: 40px 20px;
    width: calc(100% - 80px);
    height: auto;
    /*line-height: normal;*/
    /*padding: 0;*/
}
.api-keys .key.open .d-open {
    cursor: initial;
}
.key.open .label {
    margin-right: 20px;
}
.key.open .text-input {
    float: right;
}
.key.open .origin {
    width: calc(100% - 100px);
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    color: rgba(0,0,0,.87);
    font-size: 11.5pt;
    background: rgba(0,0,0,.12);
}
.key.open input[type=checkbox] {
    display: none;
}
.key.open input[type=checkbox] + label {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    width: 16px;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,.38);
    margin: 0;
    margin-right: 14px;
    transition: all .15s ease-in-out;
    cursor: pointer;
}
.key.open input[type=checkbox]:checked + label {
    height: 9px;
    transform: rotate(-45deg);
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #FF6F00;
    border-left: 2px solid #FF6F00;
    margin-bottom: 8px;
}
.api-keys .create.open {
    margin: 0 -20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    color: rgba(0,0,0,.87);
}
.api-keys .create .btn {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 10px;
    height: 32px;
    min-width: 78px;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    font-size: 90%;
    color: white;
    background: #FF6F00;
    cursor: pointer;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.api-keys .create .btn-cancel {
    margin-top: 10px;
    float: right;
    background: #FF6F00;
    color: white;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    cursor: pointer;
}
.api-keys .create .btn-send:hover,
.api-keys .create .btn-cancel:hover {
    background: #FF8F00;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.api-keys .create #sendstatus {
    max-width: 60px;
}
.api-keys:not(.creating) .create {
    display: none;
}
.api-keys.creating .fab {
    display: none;
}
/*.api-keys li:last-of-type {
    border: none;
}*/
.api-keys .name {
    text-align: left;
}
.api-keys .datemade {
    /*position: absolute;*/
    display: inline-block;
    /*left: 25%;*/
    float: right;
    margin: 0 20px 0 0;
    width: 144px;
}
.api-keys .access-list {
    /*position: absolute;*/
    display: inline-block;
    /*left: 50%;*/
    float: right;
    margin: 0 20px 0 0;
    width: 144px;
}
.api-keys .keycode {
    display: inline-block;
    float: right;
    min-width: 300px;
    cursor: text;
    margin-right: 100px;
}
.api-keys .key .keycode {
    color: rgba(0,0,0,.54);
    font-family: monospace;
    margin-right: 0;
    font-size: 11.5pt;
}
.api-keys .delete,
.api-keys .regen {
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: -10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    color: rgba(0,0,0,.54);
    transition: all .15s ease-in-out;
}
.api-keys .regen {
    margin-right: 0;
}
.api-keys .delete:hover,
.api-keys .regen:hover {
    background: rgba(0,0,0,.12);
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.log-loc .content,
.self-key .content {
    text-align: left;
    /*float: left;*/
    font-size: 11.5pt;
}
.log-loc input,
.self-key input {
    height: 40px;
    line-height: 40px;
    font-size: 11.5pt;
    width: 100%;
    background: rgba(0,0,0,.12);
    text-indent: 10px;
}
.api-keys label + label {
    display: inline-block;
    height: 40px;
}
.user-profile {
    width: calc(100% - 40%);
    height: auto;
    background: white;
    padding: 20px 20%;
    position: relative;
}
.user-profile .user-img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.user-profile .user-name {
    display: block;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 13pt;
    color: rgba(0,0,0,.87);
    position: absolute;
    top: 20px;
    left: calc(20% + 160px);
}
.user-profile .user-title {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 13pt;
    color: rgba(0,0,0,.54);
    position: absolute;
    top: 60px;
    left: calc(20% + 160px);
}
.user-profile .user-desc {
    display: block;
    min-height: 40px;
    font-size: 13pt;
    color: rgba(0,0,0,.87);
    position: absolute;
    top: 90px;
    left: calc(20% + 160px);
}